<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a03_mvc.a03_dao.B02_ExamDao">
	<resultMap type="exambank" id="exambankMap"/>
	<select id="list" resultMap="exambankMap" >
		SELECT *
		FROM exambank
		WHERE 1=1
	</select>
</mapper>	